.contentbody{padding:2% 4%;width:100%;height:auto;clear:both;}
header{width:100%;height:auto;float:left;padding:1% 3%;box-shadow:2px 5px 6px #efefef;}
.logo{width:100%;height:auto;}
.logo img{width:27%;}

.heartarea{width:100%;height:auto;text-align:right;}
.heartarea img{width:7%;}

.foodlist{width:100%;height:auto;border-bottom:1px solid #e6e6e6;padding-bottom:10px;padding-top:2%;}
.foodlist ul{list-style:none;}
.foodlist li{display:inline-block;}
.foodlist li:nth-child(1){width:8%;vertical-align:top;margin-top:7px;}
.foodlist li:nth-child(2){width:72%;}
.foodlist li:nth-child(3){width:15%;text-align:center;}

.greenTag span{border:1px solid #09ac63;width:16px;height:16px;display:flex;align-items:center;justify-content:center;border-radius:3px;}
.greenTag span span{width:8px;height:8px;border-radius:50%;display:inline-block;background:#09ac63;}

.redTag span{border:1px solid #BD0202;width:16px;height:16px;display:flex;align-items:center;justify-content:center;
 border-radius:3px;}
.redTag span span{width:8px;height:8px;border-radius:50%;display:inline-block;background:#BD0202;} 

.foodlist ul .text{font-size:14px;color:#222;font-weight:400;word-break:break-all;padding-right:80px;}
.foodlist ul .text a{color:#222;display:block;font-weight:650;font-size:16px;}
.foodlist ul .text a:hover{text-decoration:none;}
.foodlist ul .text a span{background-color:#09ac63;display:inline-block;padding:0px;padding:1px 8px;
    color:#fff;margin-left:1%;}
.foodlist ul .text span{font-size:14px;color:#222;font-weight:400;display:block;padding-top:0px;}
.addnumber{width:100%;height:auto;}
.addnumber span{padding:6px 18px;border:1px solid #ed2122;border-radius:9px;}
.addnumber span a{color:#ef3f3a;}
.addnumber span a:hover{text-decoration:none;}
.addnumber p{margin:0%;padding-top:8px;font-size:12px;letter-spacing:0.2px;}

.rollsarea{width:100%;height:auto;margin-bottom:6%;}
.rollsarea h2{font-size:31px;display:inline-block;padding-right:10px;margin-bottom:4%;}
.rollsarea span{color:#949393;}

.opencartlist{width:100%;height:auto;position:fixed;bottom:0%;display:none;background:#fff;box-shadow:0px 0px 44px 0px #A2A2A2;}
.showcart{display:block !important;}
.closecart{}
.cartpadding{padding:3% 5%;}
.topheadcart{width:100%;height:auto;}
.foodtype{width:100%;height:auto;}
.foodtype ul{list-style:none;padding-left:0%;border-bottom:1px solid #e6e6e6;}
.foodtype ul li{display:inline-block;}
.foodtype ul li span{font-size:13px;color:#c62929;}
.foodtype ul li h2{font-size:21px;}
.foodtype ul li p{}
.foodtype ul li p i{color:#c00;vertical-align:super;}
.foodtype ul li:nth-child(1){width:80%;text-align:left;}
.foodtype ul li:nth-child(2){width:18%;text-align:right;}

.foodinstruction{width:100%;height:auto;}
.foodinstruction ul{list-style:none;padding-left:0%;border-bottom:5px solid #e6e6e6;}
.foodinstruction ul li{display:inline-block;}
.foodinstruction ul li span{}
.foodinstruction ul li h2{font-size:15px;color:#c62929;margin-bottom:1px;}
.foodinstruction ul li p{font-size:13px;color:#666;}
.foodinstruction ul li p i{color:#c00;vertical-align:super;}
.foodinstruction ul li:nth-child(1){width:100%;text-align:left;}

.bottomcart{width:100%;height:auto;clear:both;}
.bottomcart h3{font-size:14px;padding-bottom:10px;}
.bottomcart ul{list-style:none;padding:0%;margin-bottom:13px;}
.bottomcart ul li{display:inline-block;}
.bottomcart ul li:nth-child(1){width:7%;}
.bottomcart ul li:nth-child(2){width:69%}
.bottomcart ul li:nth-child(3){width:20%;text-align:right;}
.no-pad{padding:0% !important;}

.customcart{width:100%;height:auto;clear:both;}
.customcart h3{font-size:14px;padding-bottom:10px;}
.customcart ul{list-style:none;padding:0%;margin-bottom:13px;}
.customcart ul li{display:inline-block;padding-right:0%;}
.customcart ul li:nth-child(1){width:7%;}
.customcart ul li:nth-child(2){width:55%}
.customcart ul li:nth-child(2) p{font-size:11px;color:#666;}
.customcart ul li:nth-child(3){width:25%;text-align:right;float:right;}

.cartbuttonarea{width:100%;height:auto;background:#ec3c49;padding:0% 0%;float:left;}
.cartnum{width:70%;height:auto;float:left;padding-left:2%;}
.addcart{width:28%;height:auto;float:right;}
.addcart p{margin-bottom:0%;background:#d2313c;padding:13px 11px;text-align:center;color:#fff;}
.addcart p i{}
.addcart p a{color:#fff;font-weight:600;}
.addcart p a:hover{text-decoration:none;}
.cartnum ul{list-style:none;margin-bottom:0%;padding-left:0;margin-top:3%;background:#fff;width:51%;}
.cartnum ul li{display:inline-block;padding:5px;}
.cartnum ul li span a{color:#222;}
.cartnum ul li span a i{font-size:13px;font-weight:400;vertical-align:baseline;}
.cartnum ul li:nth-child(1){width:22%;display:inline-block;background:#fff;text-align:center;}
.cartnum ul li:nth-child(2){width:45%;display:inline-block;background:#fff;text-align:center;}
.cartnum ul li:nth-child(3){width:22%;display:inline-block;background:#fff;text-align:center;}
.cartnumber{width:100%;padding:0;}

.cartmore{width:70%;height:auto;float:left;padding-left:2%;}
.cartmore ul{list-style:none;margin-bottom:0%;padding-left:0;margin-top:3%;background:#fff;width:100%;border:1px solid #e6e6e6;}
.cartmore ul li{display:inline-block;padding:5px;}
.cartmore p{text-align:center;font-weight:600;font-size:12px;padding-top:5px;}
.cartmore ul li span a{color:#222;}
.cartmore ul li span a i{font-size:13px;font-weight:400;vertical-align:baseline;}
.cartmore ul li:nth-child(1){width:17%;display:inline-block;background:#fff;text-align:center;padding:0;}
.cartmore ul li:nth-child(2){width:45%;display:inline-block;background:#fff;text-align:center;padding:0;}
.cartmore ul li:nth-child(3){width:29%;display:inline-block;background:#fff;text-align:center;padding:0;}

.itemnumber{width:50%;height:auto;float:left;padding-left:5%;}
.itemnumber span{color:#fff;font-size:12px;}
.itemnumber h2{color:#fff;font-weight:700;font-size:17px;margin-bottom: 0;}


.placecartlist{width:100%;height:auto;position:fixed;display:none;bottom:0%;background:#fff;box-shadow:0px 0px 44px 0px #A2A2A2;}
.placecart{width:48%;height:auto;float:right;}
.placecart p{margin-bottom:0%;background:#d2313c;padding:13px 11px;text-align:center;color:#fff;}
.placecart p i{}
.placecart p a{color:#fff;font-weight:600;}
.placecart p a:hover{text-decoration:none;}

.orderbox{width:100%;height:auto;background-color:#000;padding:5% 6%;}
.orderbox ul{list-style:none;padding-left:0%;margin-bottom:0%;}
.orderbox ul li{display:inline-block;}
.orderbox ul li span{color:#fff;}
.orderbox ul li h2{color:#ec3c49;font-size:16px;padding-top:4px;font-weight:600;margin-bottom:0%;}
.orderbox ul li:nth-child(1){width:45%;}
.orderbox ul li:nth-child(2){float:right;}
.orderbox ul li:nth-child(2) button{background:#fff;color:#222;font-weight:600;padding:15px 20px;float:right;font-size:13px;border:none;}



/** Hitesh responsive Css **/


@media only screen and (max-width: 767px) {
.rollsarea h2{font-size:22px;}
.foodlist ul{padding-left:0%;}
.foodlist ul .text{padding-right:0px;}
.foodlist li:nth-child(1){vertical-align:middle;margin-top:0%;}
.foodlist li:nth-child(2){width:61%;}
.foodlist li:nth-child(3){width:28%;margin-top:3%;text-align:right;}
.addnumber span{padding:6px 10px;}
.foodlist{padding-top:4%;}
.logo img{width:62%;padding:5% 0%;}
.logorespo{width:70%;display:inline-block;}
.heratrespo{width:25%;display:inline-block;}
.heartarea img{width:45%;padding-top:32%;}
.foodtype{width:100%;}
.bottomcart ul li:nth-child(3){width:23%;}
.bottomcart ul li:nth-child(2){width:65%;}




}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.logo img{width:49%;margin:2% 0%;}
.heartarea img{width:12%;margin-top:7%;}
.foodlist li:nth-child(1){margin-top:2%;}
.foodlist ul{padding-left:3%;}
.cartnum ul{width:35%;margin-top:1%;}
.cartnum ul li:nth-child(2){width:48%;}
.cartnumber{padding:2px;}
.customcart ul li:nth-child(2){width:48%;}
.customcart ul li:nth-child(3){width:22%;}
.customcart ul{margin-bottom:22px;}
.customcart ul li ul{margin-bottom:0px;}



}




